press-room/*
blog/*
careers/*
mobile/*
.bash_history
.viminfo
munin/*
*.DS_Store
/assets/images.zip
images.zip
holidayproblems/*
/nbproject/
.gitconfig
.ssh
/sftp-config.json

austin/weddings/index.php
