RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /
# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch

RewriteRule (css|jpg|png|gif|js|swf)$ - [L]

# Redirect all traffic from www.travaasa.com <http://www.travaasa.com>  to just travaasa.com <http://travaasa.com> 
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^184\.106\.113\.117
RewriteRule (.*) http://www.travaasa.com/$1 [R=301,L]
RewriteRule ^hana/#(.*)$ http://travaasa.com/hana/$1 [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

AddType image/svg+xml svg svgz
AddEncoding gzip svgz

# 404 page
ErrorDocument 404 /var/www/html/404.php

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /careers/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /careers/index.php [L]
</IfModule>

