.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */
#content {
  background-color: #cbebf6;
  overflow: hidden;
}
#main {
  background: transparent;
}
#main h1 {
  /* font-family: "Century Gothic", sans-serif; */
  font-family: "Gill Sans W04 Book","Gill Sans MT",Calibri,sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
#main h1 small {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  text-transform: capitalize;
}
#main h2 {
  font-family: "Gill Sans W04 Book","Gill Sans MT",Calibri,sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
  color: #333;
  text-align: left;
  text-transform: capitalize;
}
#main h2 span {
  color: #CB3053;
}
#main p,
#main ul {
  /* font-family: Lato, sans-serif; */
  font-family: "Gill Sans W04 Book","Gill Sans MT", Lato, sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: #333333;
  text-align: left;
}
#main p a,
#main ul a {
  text-decoration: underline;
}
#main div.lead {
  height:140px;
}
#main .lead > p {
  padding-left: 12px;
  border-left: 2px solid #cb3055;
  font-family: "Gill Sans W04 Book","Gill Sans MT", Lato, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  text-align: left;
  margin-bottom: 1em;
}
#main .lead > p strong {
  font-size: 18px;
  line-height: 26px;
  display: block;
}
#main .lead > p span {
  display: none;
}
#main .lead > p a.read-more {
    display: none;
  }
#main .stuff-list {
  padding-left: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
}
#main .stuff-list li {
  list-style: none;
}
#main .stuff-list li:before {
  content: "• ";
}
#main .has-border {
  border-bottom: 2px solid #cb3055;
  padding-bottom: 18px;
}
#main #map {
  width: 100%;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 2s ease-out;
  -moz-transition: -moz-transform 2s ease-out;
  -ms-transition: -ms-transform 2s ease-out;
  transition: transform 2s ease-out;
}
#main #map img {
  display: block;
  width: 100%;
}
#main #map img.mobile {
  width: 123.4%;
  max-width: 123.4%;
  margin-left: -23.4%;
}
#main #map.move-left {
  left: 23.4%;
}
#main #map img.tablet-desktop {
  display: none;
}
#main .pop-up-wrapper {
  /* height: 360px; */
  -webkit-transition: -webkit-transform 2s ease-out;
  -moz-transition: -moz-transform 2s ease-out;
  -ms-transition: -ms-transform 2s ease-out;
  transition: transform 2s ease-out;
  position: relative;
}
#main .pop-up-wrapper img.spacer {
  width: 100%;
}
#main .pop-up-wrapper.move-left {
  left: 23.4%;
}
a.pin {
  display: block;
  width: 17px;
  height: 35px;
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  text-indent: -9999px;
  overflow: hidden;
}
a.pin.hidden {
	display:none;
}
a#scrollPin {
  top: 36%;
  left: 2%;
  width:129px;
  height:107px;
  background:url(../images/road-to-hana/scroll-bubble.png) no-repeat 0 0;
}
a#pin-1 {
  top: 0;
  left: -12%;
}
a#pin-2 {
  top: 6%;
  left: 14%;
}
a#pin-3 {
  top: 11%;
  left: 22%;
}
a#pin-4 {
  top: 18%;
  left: 28%;
}
a#pin-5 {
  top: 25%;
  left: 35%;
}
a#pin-6 {
  top: 30%;
  left: 51%;
}
a#pin-7 {
  top: 36%;
  left: 67%;
}
a#pin-8 {
  top: 45%;
  left: 75%;
}
a#pin-9 {
  top: 58%;
  left: 75%;
}
a#pin-10 {
  top: 74%;
  left: 55%;
}
a#pin-11 {
  top: 75%;
  left: 40%;
}
#popup-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  background-color: rgba(102, 102, 102, 0.7);
  position: absolute;
  top: 109px;
  left: 0;
  z-index: 1000;
  display: none;
}
#popup-container.show {
  display: block;
}
.loc-wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding-bottom: 0;
  border-radius: 5px;
  background: rgba(201, 231, 241, 0.8);
  opacity: 0;
}
.loc-wrapper #btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Gill Sans W04 Book","Gill Sans MT", Lato, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 120%;
  color: #222222;
  text-align: right;
  z-index: 1001;
  cursor: pointer;
}
.loc-wrapper .loc-title {
  margin: 0 12px 12px 12px;
  font-family: "Gill Sans W04 Book","Gill Sans MT",Calibri,sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #cb3052;
  text-align: left;
  text-transform: Capitalize;
}
.loc-wrapper .loc-title small {
  font-size: 16px;
  line-height: 19px;
}
.loc-wrapper .loc-img-wrapper img {
  display: block;
  width: 100%;
}
.loc-wrapper .loc-description {
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  font-family: "Gill Sans W04 Book","Gill Sans MT", Lato, sans-serif;
  font-size: 13px;
  line-height: 16px;
  /* color:rgb(51,51,51); */
  color: #111;
  text-align: left;
}
.loc-wrapper .gps {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 236px;
  height: 25px;
  margin-left: 12px;
  padding-left: 4px;
  line-height: 25px;
  font-family: "Gill Sans W04 Book","Gill Sans MT", Lato, sans-serif;
  font-size: 13px;
  /* color:#45565d; */
  color: #111;
  background: url(/assets/images/road-to-hana/sprites.png) 0 -200px no-repeat;
}
.loc-wrapper .gps span {
  margin-left: 12px;
  font-size: 11px;
  color: #54859c;
}
.loc-wrapper .links-bar {
  margin: 12px 12px 0;
  overflow: hidden;
}
.loc-wrapper .links-bar > a {
  float: left;
  font-family: Lato !important;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #cb3055;
  text-align: left;
}
.loc-wrapper .links-bar .socials {
  float: right;
}
.loc-wrapper .links-bar .socials > span {
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
}
.loc-wrapper .links-bar .socials ul {
  padding-left: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
}
.loc-wrapper .links-bar .socials ul li {
  list-style: none;
  display: inline-block;
}
.loc-wrapper .links-bar .socials ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
}
.loc-wrapper .links-bar .socials ul li a.tw {
  background: url(/assets/images/road-to-hana/sprites.png) 0 -75px no-repeat;
}
.loc-wrapper .links-bar .socials ul li a.fb {
  background: url(/assets/images/road-to-hana/sprites.png) 0 -110px no-repeat;
}
.loc-wrapper .links-bar .socials ul li a.pt {
  background: url(/assets/images/road-to-hana/sprites.png) 0 -150px no-repeat;
}
.loc-wrapper .pager {
  padding-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.loc-wrapper .pager .prev,
.loc-wrapper .pager .next {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 29px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
.loc-wrapper .pager .next {
  margin-left: 40px;
  background: url(/assets/images/road-to-hana/sprites.png) 0 -29px no-repeat;
}
.loc-wrapper .pager .prev {
  margin-right: 40px;
  background: url(/assets/images/road-to-hana/sprites.png) 0 0 no-repeat;
}
.loc-wrapper .pager .current {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 63px;
  margin: 0 24px;
  background: url(/assets/images/road-to-hana/sprites.png) 50% 0 no-repeat;
  text-shadow: 0 0 1px #C40D35;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
}
.loc-wrapper.hide {
  opacity: 0;
}
.loc-wrapper.show {
  opacity: 1;
  height: auto;
  padding-bottom: 12px;
}
@media (min-width: 360px) {
  #main h1 {
    font-size: 38px;
  }
  #main #map {
    width: 100%;
    top: 105px;
  }
}
@media (min-width: 380px) {
  #main #map {
    top: 34px;
  }
}

@media (min-width: 480px) {
  #main #map {
    top: 60px;
	width: 100%;
	}
  #main .pop-up-wrapper {
    height: 450px;
	}
  #main #map img.mobile {
	  width: 100%;
	  max-width: 100%;
	  margin-left:0;
	  }
  #main div.lead {
	  height:100px;
  }
  #main .pop-up-wrapper img.spacer {
    display: none;
  }
  #main #map.move-left, #main .pop-up-wrapper.move-left {
	left: 0;
  }
  a.pin {
    width: 23px;
    height: 40px;
  }
  a#scrollPin {
	  display:none;
  }
  a#pin-1 {
    top: 0%;
    left: 9%;
  }
  a#pin-2 {
    top: 8%;
    left: 31%;
  }
  a#pin-3 {
    top: 11%;
    left: 37%;
  }
  a#pin-4 {
    top: 18%;
    left: 42%;
  }
  a#pin-5 {
    top: 24%;
    left: 48%;
  }
  a#pin-6 {
    top: 28%;
    left: 60%;
  }
  a#pin-7 {
    top: 34%;
    left: 73%;
  }
  a#pin-8 {
    top: 42%;
    left: 80%;
  }
  a#pin-9 {
    top: 52%;
    left: 80%;
  }
  a#pin-10 {
    top: 67%;
    left: 64%;
  }
  a#pin-11 {
    top: 67%;
    left: 51%;
  }
}
@media (min-width: 480px) and (orientation: landscape) {
	.loc-wrapper { display:none; }
	.loc-wrapper.show { display:block; }
	.loc-wrapper .loc-img-wrapper {
		width:40%;
		margin-left:10px;
		margin-right:10px;
		float:right;
	}
}
@media (min-width: 568px) and (orientation: landscape) {
  #main #map {
	  top:50px;
  }
  #main #map img.mobile {
	  width: 100%;
	  max-width: 100%;
	  margin-left:0;
  }
  #main div.lead {
    height: 100px;
  }
  #main .pop-up-wrapper {
    height: 600px;
	}
  a.pin {
    width: 25px;
    height: 45px;
  }
  a#pin-1 {
    top: 4%;
    left: 9%;
  }
  a#pin-2 {
    top: 11%;
    left: 31%;
  }
  a#pin-3 {
    top: 15%;
    left: 37%;
  }
  a#pin-4 {
    top: 19%;
    left: 42%;
  }
  a#pin-5 {
    top: 25%;
    left: 47%;
  }
  a#pin-6 {
    top: 29%;
    left: 60%;
  }
  a#pin-7 {
    top: 34%;
    left: 73%;
  }
  a#pin-8 {
    top: 41%;
    left: 81%;
  }
  a#pin-9 {
    top: 50%;
    left: 81%;
  }
  a#pin-10 {
    top: 63%;
    left: 64%;
  }
  a#pin-11 {
    top: 63%;
    left: 51%;
  }
  
}
@media (min-width: 600px) and (orientation: portrait) {
  #main #map {
    top: 20px;
	width: 100%;
	}
  #main .pop-up-wrapper {
    height: 600px;
	}
  #main #map img.mobile {
	  width: 100%;
	  max-width: 100%;
	  margin-left:0;
	  }
  #main div.lead {
	  height:100px;
  }
  #main .pop-up-wrapper img.spacer {
    display: none;
  }
  a.pin {
    width: 23px;
    height: 40px;
  }
  a#pin-1 {
    top: 0%;
    left: 9%;
  }
  a#pin-2 {
    top: 7%;
    left: 31%;
  }
  a#pin-3 {
    top: 11%;
    left: 38%;
  }
  a#pin-4 {
    top: 16%;
    left: 42%;
  }
  a#pin-5 {
    top: 22%;
    left: 48%;
  }
  a#pin-6 {
    top: 26%;
    left: 60%;
  }
  a#pin-7 {
    top: 31%;
    left: 73%;
  }
  a#pin-8 {
    top: 39%;
    left: 81%;
  }
  a#pin-9 {
    top: 49%;
    left: 81%;
  }
  a#pin-10 {
    top: 62%;
    left: 64%;
  }
  a#pin-11 {
    top: 63%;
    left: 51%;
  }
}
@media (min-width: 600px) and (orientation: landscape) {
  #main {
	  position:relative;
  }
  #main #map {
    top: -20px;
  }
  #main div.lead {
    height: 75px;
  }
   a#pin-1 {
    top: 3%;
    left: 9%;
  }
  a#pin-2 {
    top: 12%;
    left: 31%;
  }
  a#pin-3 {
    top: 16%;
    left: 38%;
  }
  a#pin-4 {
    top: 23%;
    left: 42%;
  }
  a#pin-5 {
    top: 30%;
    left: 47%;
  }
  a#pin-6 {
    top: 34%;
    left: 60%;
  }
  a#pin-7 {
    top: 40%;
    left: 74%;
  }
  a#pin-8 {
    top: 48%;
    left: 81%;
  }
  a#pin-9 {
    top: 58%;
    left: 81%;
  }
  a#pin-10 {
    top: 74%;
    left: 64%;
  }
  a#pin-11 {
    top: 74%;
    left: 51%;
  }
}
@media (min-width: 768px) {
  #main {
    padding-top: 60px;
  }
  #main .row {
    overflow: hidden;
    margin-bottom: 20px;
  }
  #main .row > div {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333%;
    /* height: 280px; */
	height: 320px;
  }
  #main .row > div:nth-child(1),
  #main .row > div:nth-child(2) {
    padding-right: 24px;
    border-right: 2px solid #cb3055;
  }
  #main .row > div:nth-child(2),
  #main .row > div:nth-child(3) {
    padding-left: 24px;
  }
  #main #content {
    padding-top: 60px;
  }
  #main h1 {
    font-size: 65px;
    line-height: 60px;
    margin-left: 195px;
	text-align:right;
  }
  #main h1 small {
    font-size: 32px;
    line-height: 31px;
    margin-left: 290px;
  }
  #main h2 {
    font-weight: normal;
  }
 #main div.lead {
    margin-left: 100px;
    height: 145px;
  }
  #main .lead > p {
    line-height: 19px;
  }
  #main .lead > p strong {
    font-size: 24px;
    line-height: 35px;
  }
  #main .lead > p span {
    display: inline;
  }
  
  #main .stuff-list {
    padding-left: 0;
    -webkit-column-count: inherit;
    -moz-column-count: inherit;
    column-count: inherit;
  }
  #main .has-border {
    border-bottom: 0;
  }
  #main #map {
    top: 255px;
    width: 720px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
  }
  #main #map img.mobile {
    display: none;
  }
  #main #map img.tablet-desktop {
    display: block;
  }
  #main .pop-up-wrapper {
    height: 480px;
    width: 720px;
    margin: 0 auto;
    position: relative;
  }

  /* Popup Info Window */
  #map .pup-wrapper a.pin {
    display: block;
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  #map .pup-wrapper .loc-wrapper.hide {
    opacity: 0;
  }
  #map .pup-wrapper .loc-wrapper.show {
    opacity: 1;
  }
  #map .pup-wrapper .hide {
    opacity: 0;
  }
  #map .pup-wrapper .show {
    opacity: 1;
  }
  .pop-up-wrapper {
    margin: 0;
    padding: 0;
  }
  #popup-container {
    /* height:100%; */
    width: inherit;
    top: inherit;
    left: inherit;
    background-image: none;
    background-color: transparent;
  }
  #popup-container .loc-wrapper {
    z-index: 1001;
  }
  .loc-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 24px 48px 48px 24px; */
    padding: 15px 20px 48px 20px;
    width: 320px;
    height: 291px;
    background: url(/assets/images/road-to-hana/bg-loc-tablet.png) 0 0 no-repeat;
    position: absolute;
    display: none;
  }
  .loc-wrapper .btn-close {
    z-index: 1002;
  }
  .loc-wrapper.show {
    height: 230px;
    display: block;
  }
  .loc-wrapper.alt {
    background: url(/assets/images/road-to-hana/bg-loc-tablet-02.png) 0 0 no-repeat;
  }
  .loc-wrapper .loc-title {
    font-family: "Gill Sans W04 Book","Gill Sans MT",Calibri,sans-serif;
    margin: 0 0 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 110%;
    color: #cb3052;
    text-align: left;
  }
  .loc-wrapper .loc-title small {
    font-size: 15px;
    line-height: 19px;
    white-space: nowrap;
  }
  .loc-wrapper .loc-img-wrapper {
    width: 114px;
    float: right;
	margin-left: 0;
    margin-right: 0;
  }
  .loc-wrapper .loc-description {
    width: 165px;
    height: 80px;
    overflow: hidden;
    font-family: "Gill Sans W04 Book","Gill Sans MT", Lato, sans-serif;
    font-size: 13px;
    line-height: 110%;
    color: #333333;
    text-align: left;
    position: relative;
    margin: 0;
  }
  .loc-wrapper .loc-description p {
    padding-right: 14px;
    margin-bottom: 0;
  }
  .loc-wrapper .gps {
    margin-top: 6px;
    margin-left: 0;
  }
  .loc-wrapper .links-bar {
    position: absolute;
    left: 24px;
    bottom: 27px;
    width: 270px;
    height: 22px;
    margin-top: 0;
    font-size: 15px;
    line-height: 22px;
  }
  .loc-wrapper .links-bar > a {
    font-size: 15px;
    line-height: 22px;
  }
  .loc-wrapper .links-bar .socials {
    line-height: 22px;
  }
  .loc-wrapper .links-bar .socials > span {
    line-height: 22px;
  }
  .loc-wrapper .links-bar .socials ul li a {
    height: 22px;
    width: 22px;
    border-left: 1px dashed;
  }
  .loc-wrapper .links-bar .socials ul li a.tw {
    background-position: -54px -70px;
  }
  .loc-wrapper .links-bar .socials ul li a.fb {
    background-position: -54px -92px;
  }
  .loc-wrapper .links-bar .socials ul li a.pt {
    background-position: -54px -115px;
  }
  .loc-wrapper .pager {
    display: none;
  }
  
  /* Pin links coordinates */
  a.pin {
    width: 17px;
    height: 30px;
  }
  a#pin-1 {
    top: 45px;
    left: 320px;
  }
  a#pin-2 {
    top: 75px;
    left: 405px;
  }
  a#pin-3 {
    top: 85px;
    left: 427px;
  }
  a#pin-4 {
    top: 105px;
    left: 446px;
  }
  a#pin-5 {
    top: 130px;
    left: 467px;
  }
  a#pin-6 {
    top: 145px;
    left: 515px;
  }
  a#pin-7 {
    top: 165px;
    left: 565px;
  }
  a#pin-8 {
    top: 195px;
    left: 592px;
  }
  a#pin-9 {
    top: 230px;
    left: 592px;
  }
  a#pin-10 {
    top: 280px;
    left: 530px;
  }
  a#pin-11 {
    top: 280px;
    left: 480px;
  }
  
}
@media (min-width: 800px) {
	#main .row > div {
		height: 300px;
	}
}
@media (min-width: 960px) {
  #main #map {
	  top:280px;
  }
  #main #map, #main .pop-up-wrapper {
    width: 895px;
  }
  #main .pop-up-wrapper {
    height: 550px;
    margin: 0 auto;
  }
  #main div.lead {
    height: 125px;
  }
  a.pin {
    width: 20px;
    height: 40px;
  }
  a#pin-1 {
    top: 115px;
    left: 400px;
  }
  a#pin-2 {
    top: 150px;
    left: 504px;
  }
  a#pin-3 {
    top: 170px;
    left: 530px;
  }
  a#pin-4 {
    top: 195px;
    left: 552px;
  }
  a#pin-5 {
    top: 220px;
    left: 580px;
  }
  a#pin-6 {
    top: 242px;
    left: 640px;
  }
  a#pin-7 {
    top: 265px;
    left: 700px;
  }
  a#pin-8 {
    top: 300px;
    left: 734px;
  }
  a#pin-9 {
    top: 346px;
    left: 734px;
  }
  a#pin-10 {
    top: 410px;
    left: 655px;
  }
  a#pin-11 {
    top: 410px;
    left: 595px;
  }
}
@media (min-width: 1200px) {
  #main h1 {
    width: 500px;
    float: left;
  }
  #main div.lead {
    margin-left: 700px;
    position: relative;
    height: 150px;
  }
  #main div.lead > p {
    position: absolute;
    top: 0;
    left: 0;
  }
  #main .stuff-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  #main .row {
    margin: 0 auto 50px;
    width: 1200px;
  }
  #main .row > div {
    height: 184px;
  }
  #main .pop-up-wrapper {
    width: 1152px;
    height: 620px;
    margin: 0 auto;
  }
  #main #map {
    width: 1152px;
    top: 60px;
  }
}
@media (min-width: 1596px) {
  #main .pop-up-wrapper {
    height: 850px;
    width: 1548px;
  }
  #main #map {
    top: 20px;
    width: 1548px;
  }
  #main h1 {
    width: 600px;
    float: left;
    font-size: 76px;
  }
  #main h1 small {
    font-size: 26px;
  }
  #main div.lead {
    margin-left: 810px;
    height: 100px;
  }
  #main .row {
    width: 1330px;
  }
  #main .row > div {
    height: 170px;
  }
}


@media (max-width: 767px) {
  #main {
    padding-left: 0;
    padding-right: 0;
  }
  #main h1,
  #main div.lead,
  #main div.row {
    margin-left: 16px;
    margin-right: 16px;
  }
  
  #main .lead > p strong {
    line-height: 20px;
    font-weight: normal;
  }
  footer .btn {
	  width:auto;
  }
}

@media (min-width: 960px) {
  
}
@media (min-width: 1200px) {
  #main div.lead {
    height: 150px;
  }
  a.pin {
    width: 26px;
    height: 50px;
  }
  a#pin-1 {
    top: 35px;
    left: 515px;
  }
  a#pin-2 {
    top: 85px;
    left: 645px;
  }
  a#pin-3 {
    top: 105px;
    left: 685px;
  }
  a#pin-4 {
    top: 137px;
    left: 712px;
  }
  a#pin-5 {
    top: 172px;
    left: 747px;
  }
  a#pin-6 {
    top: 200px;
    left: 825px;
  }
  a#pin-7 {
    top: 232px;
    left: 905px;
  }
  a#pin-8 {
    top: 275px;
    left: 950px;
  }
  a#pin-9 {
    top: 335px;
    left: 950px;
  }
  a#pin-10 {
    top: 418px;
    left: 846px;
  }
  a#pin-11 {
    top: 415px;
    left: 770px;
  }
  .loc-wrapper {
    width: 410px;
    height: 290px;
    padding: 20px 25px 35px 30px;
    background: url(/assets/images/road-to-hana/bg-loc-dt.png) 0 0 no-repeat;
  }
  .loc-wrapper.show {
    height: 290px;
  }
  .loc-wrapper.alt {
    background: url(/assets/images/road-to-hana/bg-loc-dt-02.png) 0 0 no-repeat;
  }
  .loc-wrapper #btn-close {
    right: 20px;
    top: 15px;
  }
  .loc-wrapper .loc-description {
    width: 225px;
    height: 130px;
  }
  .loc-wrapper .loc-title {
    margin: 0 10px 6px 0;
  }
  .loc-wrapper .links-bar {
    width: 370px;
    margin: 0;
    height: 24px;
  }
  .loc-wrapper .links-bar .socials {
    line-height: 24px;
  }
  .loc-wrapper .links-bar .socials > span {
    line-height: 24px;
  }
  .loc-wrapper .links-bar .socials ul li a {
    height: 24px;
    width: 24px;
    border-left: 1px dashed;
  }
  .loc-wrapper .links-bar .socials ul li a.tw {
    background-position: -86px -72px;
  }
  .loc-wrapper .links-bar .socials ul li a.fb {
    background-position: -86px -94px;
  }
  .loc-wrapper .links-bar .socials ul li a.pt {
    background-position: -88px -118px;
  }
}
@media (min-width: 1596px) {
  a.pin {
    width: 30px;
    height: 60px;
  }
  a#pin-1 {
    top: 120px;
    left: 695px;
  }
  a#pin-2 {
    top: 175px;
    left: 875px;
  }
  a#pin-3 {
    top: 205px;
    left: 925px;
  }
  a#pin-4 {
    top: 245px;
    left: 955px;
  }
  a#pin-5 {
    top: 290px;
    left: 1004px;
  }
  a#pin-6 {
    top: 330px;
    left: 1105px;
  }
  a#pin-7 {
    top: 370px;
    left: 1212px;
  }
  a#pin-8 {
    top: 430px;
    left: 1270px;
  }
  a#pin-9 {
    top: 505px;
    left: 1270px;
  }
  a#pin-10 {
    top: 620px;
    left: 1135px;
  }
  a#pin-11 {
    top: 625px;
    left: 1035px;
  }
  #main div.lead {
    height: 100px;
  }
}
.ps-container .ps-scrollbar-y-rail {
  opacity: 0.8 !important;
  display: inherit !important;
}
/*# sourceMappingURL=road-to-hana.css.map */