iinput [type="text"] {
	border: 2px solid #D1D1D1;
	background: #FAFAFA;
	padding: 7px 0 0 0;
}

input [type="submit"] {
	border:none;
	background-color:#EA5965;
	color:white;
	text-transform: uppercase;
	padding: 8px 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li.focused {
	background-color: #FDEDEE;
}



///////////


#logo a  {
    background-image: url('/images/themes/logos/none.png');
     min-height: 0;
    height: 40px;
}
* html #logo a  {
    background-image:  none;
    filter:  progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/themes/logos/none.png",  sizingMethod="crop");
}
html {
    background-image: none;
    background-color: #666666;
}
#logo {
    background-image: none;
    background-color: #DEDEDE;
}
#container,  html.embed {
    background-color: #FFFFFF;
}
.safari .wufoo input.file {
    background: none;
    border: none;
}
.wufoo li.focused {
    background-color:  #FDEDEE;
}
.wufoo .instruct {
    background-color: #F5F5F5;
}
#container {
    border: 1px solid #cccccc;
}
.wufoo .info,  .wufoo .paging-context {
    border-bottom: 1px dotted #cccccc;
}
.wufoo .section h3,  .wufoo .captcha,  #payment .paging-context {
    border-top: 1px dotted #cccccc;
}
.wufoo input.text,  .wufoo textarea.textarea {
	font-family:"Adobe Caslon Pro", Georgia, sans-serif;
	font-size: 18px;
	border: 2px solid #D1D1D1;
	background: #FAFAFA;
	padding: 7px 0 0 0;
}
.wufoo .instruct {
    border: 1px solid #E6E6E6;
}
.fixed .info {
    border-bottom: none;
}
.wufoo li.section.scrollText {
    border-color: #dedede;
}
.wufoo .info h2 {
    font-size: 160%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #666666;
}
.wufoo .info div {
    font-size: 95%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #444444;
}
.wufoo .section h3 {
    font-size: 110%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #666666;
}
.wufoo .section div {
    font-size: 85%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #444444;
}
.wufoo label.desc,  .wufoo legend.desc {
    font-size: 95%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #444444;
}
.wufoo label.choice {
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #444444;
}
.wufoo input.text,  .wufoo textarea.textarea,  .wufoo input.file,  .wufoo select.select {
    font-style: normal;
    font-weight: normal;
    color: #333333;
    font-sizeOLD: 100%;
    font-family:"Adobe Caslon Pro", Georgia, sans-serif;
	font-size: 18px;
    padding: 2px 0 2px 3px;
}
 {
    * Custom Fonts Break Dropdown Selection in IE *}
.wufoo input.text,  .wufoo textarea.textarea,  .wufoo input.file {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wufoo li div,  .wufoo li span,  .wufoo li div label,  .wufoo li span label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
}
.safari .wufoo input.file {
     font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
}
.wufoo .instruct small {
    font-size: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #444444;
}
.altInstruct small,  li.leftHalf small,  li.rightHalf small, li.leftThird small,  li.middleThird small,  li.rightThird small, .iphone small {
    color: #444444 !important;
}
.wufoo input.btTxt {
	border:none;
	background-color:#EA5965;
	color:white;
	text-transform: uppercase;
	padding: 8px 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:120%;
    cursor: pointer;
}

.wufoo input.btTxt:hover {
    background-color:#EA5965;
}

.wufoo li.focused label.desc,  .wufoo li.focused legend.desc, .wufoo li.focused div,  .wufoo li.focused span,  .wufoo li.focused div label,  .wufoo li.focused span label, .safari .wufoo li.focused input.file {
     color: #666666;
}
.confirm h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
}
a.powertiny b,  a.powertiny em {
    color: #1a1a1a !important;
}
.embed a.powertiny b,  .embed a.powertiny em {
    color: #1a1a1a !important;
}
.pgStyle1 var,  .pgStyle2 var,  .pgStyle2 em,  .page1 .pgStyle2 var,  .pgStyle1 b,  .wufoo .buttons .marker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
    cursor:pointer;
}
.pgStyle1 var,  .pgStyle2 td {
    border: 1px solid #cccccc;
}
.pgStyle1 .done var {
    background: #cccccc;
}
.pgStyle1 .selected var,  .pgStyle2 var,  .pgStyle2 var em {
    background: #FDEDEE;
    color: #666666;
}
.pgStyle1 .selected var {
    border: 1px solid #EA5965;
}
.likert table {
    background-color: #FFFFFF;
}
.likert thead td,  .likert thead th {
    background-color: #e6e6e6;
}
.likert tbody tr.alt td,  .likert tbody tr.alt th {
    background-color: #f5f5f5;
}
.likert table,  .likert th,  .likert td {
    border-color: #dedede;
}
.likert td {
    border-left: 1px solid #cccccc;
}
.likert caption,  .likert thead td,  .likert tbody th label {
    color: #444444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.likert tbody td label {
    color: #575757;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.likert caption,  .likert tbody th label {
    font-size: 95%;
}
.likert tbody tr:hover td,  .likert tbody tr:hover th,  .likert tbody tr:hover label {
    background-color: #FFF7C0;
    color: #666666;
}
.likert tbody tr:hover td {
    border-left: 1px solid #ccc69a;
}
.wufoo #lola {
    background: #e6e6e6;
}
.wufoo #lola tbody td {
    border-bottom: 1px solid #cccccc;
}
.wufoo #lola {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
}
.wufoo #lola tfoot th {
    color: #696969;
}
.wufoo .wfo_graph h3 {
    font-size: 95%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
}
.wfo_txt,  .wfo_graph h4 {
    color: #444444;
}
.wufoo .footer h4 {
    color: #666666;
}
.wufoo .footer span {
    color: #444444;
}
.wfo_number {
    background-color: #f5f5f5;
    border-color: #dedede;
}
.wfo_number strong,  .wfo_number em {
    color: #666666;
}
#widget,  #widget body {
    background: #FFFFFF;
}
.fcNav a.show {
    background-color: #FFFFFF;
    border-color: #cccccc;
}
.fc table {
    border-left: 1px solid #dedede;
}
.fc thead th,  .fc .more th {
    background-color: #dedede !important;
    border-right: 1px solid #cccccc !important;
}
.fc tbody td,  .fc tbody th,  .fc tfoot th,  .fc tfoot td {
    background-color: #FFFFFF;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
}
.fc tbody tr.alt td,  .fc tbody tr.alt th,  .fc tbody td.alt {
    background-color: #f5f5f5;
}
.fc caption,  .fcNav,  .fcNav a {
    color: #444444;
}
.fc tfoot,  .fc thead th, .fc tbody th div,  .fc tbody td.count,  .fc .cards tbody td a,  .fc td.percent var, .fc .timestamp span {
    color: #666666;
}
.fc .indent .count {
    color: #4b4b4b;
}
.fc .cards tbody td a span {
    color: #7d7d7d;
}
.fc tbody tr:hover td,  .fc tbody tr:hover th, .fc tfoot tr:hover td,  .fc tfoot tr:hover th {
    background-color: #FFF7C0;
}
.fc tbody tr:hover th div,  .fc tbody tr:hover td,  .fc tbody tr:hover var, .fc tfoot tr:hover th div,  .fc tfoot tr:hover td,  .fc tfoot tr:hover var {
    color: #666666;
}
.invoice thead th,  .invoice tbody th,  .invoice tbody td, .invoice tfoot th, .invoice .total, .invoice tfoot .last th,  .invoice tfoot .last td, .invoice tfoot th,  .invoice tfoot td {
    border-color: #dedede;
}
.invoice thead th,  .wufoo .checkNotice {
    background: #f5f5f5;
}
.invoice th,  .invoice td {
    color: #666666;
}
#ppSection,  #ccSection {
    border-bottom: 1px dotted #cccccc;
}
#shipSection,  #invoiceSection {
    border-top: 1px dotted #cccccc;
}
@media only screen and (max-width: 480px)  {
    html {
    background-color: #FFFFFF;
}
a.powertiny b,  a.powertin em {
    color: #1a1a1a !important;
}
}

.symbol {
    line-height: 200% !important;
}